.article {
    background-color:rgba(255,0,0,0.2);
    padding:16px;
    margin: 16px;
}

.navigation{
    background-color: skyblue;
    padding:16px
    border-radius: 8px;
}

.navigation__link {
    color: snow;
    display: inline-block;
    margin-right: 20px;
}

.navigation__link-homepage {
    background-color: rgb(162, 0, 255);
    color:rgb(238, 229, 236);
}

.section {
    background-color: rosybrown;
    padding: 20px;
    margin: auto;
}


body{background-color: #fefefe;
}
header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: #1460AA;
}
h1 { 
    font-style: italic;
}
section{background-color: rgb(255, 255, 255)}

article{background-color: lightskyblue;}

h2{
    color:#360b0b;
}
 p{
     color: rgb(34, 22, 14);
 } 
 
 h3{font-style: italic; color: salmon;}

 .linki{background-color: #8EB1A8;}

 nav a {color: rgb(0, 255, 213);}
 a {color: yellow;}
 // a dotyczy tylko linek wewnetrznych , nav a glownego menu w header 
 #top {color: maroon;}

 .title{color: orangered;}
