html {
    box-sizing: border-box;
}

 *,*:before, *:after {
    box-sizing:inherit
}
body{
    background: linear-gradient(70deg, rgba(2,0,36,1) 0%, rgba(9,121,120,0.9752275910364145) 68%, rgba(0,255,222,0.38139005602240894) 100%);
}

.about__picture {
    display: block;
    max-width: 100%;

}
.article {
    background-color:rgba(255,0,0,0.2);
    padding:16px;
    margin: 16px;
}
.main {
    max-width: 1000px;
    margin:0 auto;
    
    
}

.navigation{
    background-color: skyblue;
    padding:16px
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
  
}

.navigation__link {
    color: snow;
    display: inline-block;
    margin-right: 20px;
}

.navigation__link-homepage {
    background-color: rgb(162, 0, 255);
    color:rgb(238, 229, 236);
    margin-right: 20px;
}

.section {
    background-color: rosybrown;
    padding: 20px;
    margin: auto;
    background: linear-gradient(70deg, rgba(2,0,36,1) 0%, rgba(9,121,120,0.9752275910364145) 68%, rgba(0,255,222,0.38139005602240894) 100%);
}

.main-heading {
    color: seagreen;
}
body{background-color: #fefefe;
}
header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    color: #1460AA;
}
h1 { 
    font-style: italic;
}
section{background-color: rgb(255, 255, 255)}

article{background-color: lightskyblue;}

h2{
    color:#360b0b;
}
 p{
     color: rgb(34, 22, 14);
 } 
 
 h3{font-style: italic; color: salmon;}

 .linki{background-color: #8EB1A8;}

 nav a {color: rgb(0, 255, 213);}
 a {color: yellow;}
 // a dotyczy tylko linek wewnetrznych , nav a glownego menu w header 
 #top {color: maroon;}

 .title{color: orangered;}
 
 .klasa-z-js {
     background: yellow;
 }